# ------------------------------------------------------------------------------
# Ignore all 'work' directories recursively (even if nested)
**/work/

# Ignore all Nextflow hidden folders and files recursively
**/.nextflow/
.nextflow.log
*.nextflow.*

# Ignore report and trace files recursively
report-*.html
trace-*.txt
timeline*.html
# ------------------------------------------------------------------------------

#Ignore testing data and resources at top level
test_data/

#Ignore all logs
*log


#Cohort results testing 
ALSPAC

#Dataspell
.idea/
results/
work/
list_baflrr_path.txt