# ------------------------------------------------------------------------------
# Ignore all 'work' directories recursively (even if nested)
**/work/

# Ignore all Nextflow hidden folders and files recursively
**/.nextflow/
.nextflow.log
*.nextflow.*

# Explicitly re-include important Nextflow output files
!report-*.html
!trace-*.txt
# ------------------------------------------------------------------------------
