
// waiting for nf 25.11 to fix manifest errors
//manifest {
//    contributors    = [[ name : "Florian Bénitière", github : "https://github.com/FloBeni",          contribution : "author" ],
//                       [ name : "Benjamin Clark",    github : "https://github.com/Benjamin-R-Clark", contribution : "author" ]
//                       ]
//    version         = "0.1"
//    name            = "CNV-Caller"
//    homePage        = "https://github.com/JacquemontLab/CNV-Caller"
//    nextflowVersion = '24.04+'
//    organization    = "https://www.jacquemont-lab.org/"
//    description     = ""
//}


env {
    PATH = "\$PATH:${projectDir}/bin/prepare_penncnv_inputs:${projectDir}/bin/make_report:${projectDir}/bin/merge_cnv_calls:${projectDir}/bin/call_cnv"
}


profiles {

    apptainer {

        apptainer.enabled = true
        //apptainer.runOptions = "--bind ${projectDir}/test"
        process  {
            container = 'docker://ghcr.io/jacquemontlab/python_etl_packages:latest'
        
            withLabel: cnv_calling {
                container = 'docker://ghcr.io/jacquemontlab/penncnv_quantisnp:v2.3'

            }
            
            withName: generate_hmm {

                container = 'docker://ghcr.io/jacquemontlab/penncnv_quantisnp:v2.3'
            } 

            withName: generate_pfb {
                container = 'docker://ghcr.io/jacquemontlab/python_etl_packages:latest'
    
                }

            withName: denovo_cnv_annotation_type {
                container = 'docker://ghcr.io/jacquemontlab/python_etl_packages:latest'

            }

            withLabel: Rmarkdown {
                container = 'docker://ghcr.io/jacquemontlab/cnv_caller_report:latest'

            }
        }
    }

    local {
        executor.name = 'local'
        executor.cpus = 6
        executor.memory = '14G'
            process {
                withName: generate_pfb {
                memory = '14G'
                }
            }
        
        params {
             plink2samplemetadata_tsv = "${projectDir}/test/metadata.tsv"
             list_sample_baflrrpath = "${projectDir}/test/samplefile.tsv"
             batch_size = 3
             genome_version = "GRCh38"
             dataset_name = "test"
             report = false
             pfb_max_sample_size = 3
        }

    }
}
