manifest {
    name        = 'CNV-Caller'
    author      = 'Florian Bénitière and Benjamin Clark'
    description = 'A Nextflow pipeline for the discovery of copy number variants (CNVs) using Hidden Markov Model based CNV callers PennCNV and QuantiSNP. The pipeline utilizes B-Allele Frequency (BAF) and the Log-R Ratio (LRR) of probes on a standard genotyping array to call CNVs.'
    version     = '2.0.0'
}


env {
    PATH = "\$PATH:${projectDir}/bin/prepare_penncnv_inputs:${projectDir}/bin/make_report:${projectDir}/bin/merge_cnv_calls:${projectDir}/bin/call_cnv"
}

profiles {
    apptainer {
        apptainer.enabled = true

        process  {
            container = 'docker://ghcr.io/jacquemontlab/python_etl_packages:latest'

            withLabel: penncnv_quantisnp {
                container = 'docker://ghcr.io/jacquemontlab/penncnv_quantisnp:v2.3'
            }

            withLabel: Rmarkdown {
                container = 'docker://ghcr.io/jacquemontlab/cnv_caller_report:latest'
            }
        }
    }

    singularity {
        singularity.enabled = true
        
        process  {
            container = 'docker://ghcr.io/jacquemontlab/python_etl_packages:latest'

            withLabel: penncnv_quantisnp {
                container = 'docker://ghcr.io/jacquemontlab/penncnv_quantisnp:v2.3'
            }

            withLabel: Rmarkdown {
                container = 'docker://ghcr.io/jacquemontlab/cnv_caller_report:latest'
            }
        }
    }

    docker {
        docker.enabled = true

        process  {
            container = 'ghcr.io/jacquemontlab/python_etl_packages:latest'

            withLabel: penncnv_quantisnp {
                container = 'ghcr.io/jacquemontlab/penncnv_quantisnp:v2.3'
            }

            withLabel: Rmarkdown {
                container = 'ghcr.io/jacquemontlab/cnv_caller_report:latest'
            }
        }
    }

    test {
        executor.name = 'local'
        executor.cpus = 1
        executor.memory = '2G'

        process {
            withName: generate_pfb {
            memory = '2G'
            }
        }

         params {
             plink2samplemetadata = "${projectDir}/tests/plink2samplemetadata.tsv"
             genome_version = "GRCh38"
        } 
    }

    test_full {
         params {
             pipeline_mode = "full"
             sample_file = makeTestSampleFile("${projectDir}/tests")
             batch_size = 2
             pfb_max_sample_size = 3
             dataset_name = "test_full"
        } 
    }

    test_partial {
         params {
             pipeline_mode = "partial"
             penncnv_qc_path = "${projectDir}/tests/partial/calls_unfiltered/penncnv/PennCNV_QC.tsv"
             penncnv_calls_path = "${projectDir}/tests/partial/calls_unfiltered/penncnv/PennCNV_raw_calls.txt"
             quantisnp_calls_path = "${projectDir}/tests/partial/calls_unfiltered/quantisnp/QuantiSNP_raw_calls.txt"
             dataset_name = "test_partial"
        } 
    }
}



def  makeTestSampleFile(String dirPath) {
        def outputFile = new File(dirPath, "sampleFile.tsv").canonicalPath

            def cmd = """
            {
            find "$dirPath" -type f -name "*.BAF_LRR.tsv" |
            while read f; do
                prefix=\$(basename "\$f" | cut -d. -f1)
                echo -e "\$prefix\\t\$f"
            done
            } > "$outputFile"
            """

        def proc = ["bash", "-c", cmd].execute()
        proc.waitFor()

        return outputFile
    }

