manifest {
    contributors    = [[ name : "Florian Bénitière", github : "https://github.com/FloBeni",          contribution : "author" ],
                       [ name : "Benjamin Clark",    github : "https://github.com/Benjamin-R-Clark", contribution : "author" ]
                       ]
    version         = "0.1"
    name            = "CNV-Caller"
    homePage        = "https://github.com/JacquemontLab/CNV-Caller"
    nextflowVersion = '24.04+'
    organization    = "https://www.jacquemont-lab.org/"
    description     = ""
}
