process {
    executor = 'local'   // Use local executor, or use 'slurm', 'pbs', etc., based on your environment.
    maxForks = 10        // Max number of parallel jobs allowed

    withName: CNV_calling {
        beforeScript = '''
            module load StdEnv/2023
            module load apptainer/1.3.5
        '''
        module = 'apptainer/1.3.5'
        container = '/home/flben/projects/rrg-jacquese/All_user_common_folder/SOFTWARE/pgc-tcag_v2_latest.sif'
        }
}

nextflow.enable.moduleBinaries = true

apptainer {
  autoMounts = true
  enabled = true
}