process {
        withName: CNV_calling {
            module = 'apptainer/1.3.5'
            container = '/home/flben/projects/rrg-jacquese/All_user_common_folder/SOFTWARE/pgc-tcag_v2_latest.sif'
            }
}

nextflow.enable.moduleBinaries = true

apptainer {
  autoMounts = true
  enabled = true
}