// nextflow.config

conda {
    enabled = true
    useMamba = false
    autoMounts = true
    channels = ['conda-forge', 'bioconda', 'genomedk', 'default']
}

process {
    executor = 'local'
    cpus     = 64
    memory   = '50G'

    withLabel: Rmarkdown {
    conda = 'conda-forge::fonttools conda-forge::texlive-core conda-forge::r-rcolorbrewer conda-forge::r-knitr conda-forge::r-viridis conda-forge::r-rmarkdown conda-forge::r-ggplot2 conda-forge::r-patchwork conda-forge::r-dplyr genomedk::tinytex conda-forge::r-scales conda-forge::pandoc conda-forge::r-viridis conda-forge::r-rlang'
    }
}