// nextflow.config

conda {
    enabled = true
    useMamba = false
    autoMounts = true
    channels = ['conda-forge', 'bioconda', 'genomedk', 'default']
}

process {
    executor = 'local'
    cpus     = 64
    memory   = '50G'

    withName: sample_qc_report {
    conda = 'conda-forge::r-ggplot2 conda-forge::r-dplyr conda-forge::r-rcolorbrewer conda-forge::r-knitr conda-forge::r-rmarkdown conda-forge::r-tinytex genomedk::tinytex conda-forge::texlive-core'
}

    withName: merged_cnv_qc {
        conda = 'conda-forge::fonttools conda-forge::texlive-core conda-forge::r-tinytex conda-forge::r-rmarkdown conda-forge::r-ggplot2 conda-forge::r-patchwork genomedk::tinytex conda-forge::r-dplyr conda-forge::r-scales conda-forge::r-viridisconda-forge::r-rlang'
    }

    withName: unfilter_cnv_qc {
    conda = 'conda-forge::fonttools conda-forge::texlive-core conda-forge::r-viridis conda-forge::r-rmarkdown conda-forge::r-ggplot2 conda-forge::r-patchwork conda-forge::r-dplyr genomedk::tinytex conda-forge::r-scales conda-forge::pandoc'
    }
}