process {
            
        withName: collect_plink_metadata {
            beforeScript = '''
                module load StdEnv/2020
                module load plink/1.9b_6.21-x86_64
            '''
        }
            
        withName: generate_gcmodel {
            beforeScript = '''
                module load StdEnv/2023
                module load bedtools/2.31.0
            '''
        }
}

nextflow.enable.moduleBinaries = true
