process {
    executor = 'local'

    withLabel: cnv_calling {
        executor = 'slurm'
        clusterOptions = '--account=rrg-jacquese --mem-per-cpu=3500MB'
        time = '2h'
        cpus = 192
        module = ['apptainer/1.3.5']
        container = "/lustre09/project/6008022/flben/docker/quantisnp_penncnv_v2.3.sif" 
        }

    withName: generate_hmm {
        executor = 'slurm'
        clusterOptions = '--account=rrg-jacquese --mem-per-cpu=3500MB'
        time = '30m'
        cpus = 8
        module = ['apptainer/1.3.5']
        container = "/lustre09/project/6008022/flben/docker/quantisnp_penncnv_v2.3.sif" 
        }

    withName: generate_pfb {
        executor = 'slurm'
        clusterOptions = '--account=rrg-jacquese'
        time = { 1.hour * task.attempt }
        cpus = 64
        memory = '250G'
        module = ['apptainer/1.3.5']
        container = "/lustre09/project/6008022/flben/docker/compile_pfb_latest.sif"
        maxRetries = { task.exitStatus == 140 ? 4 : 1 }
        }

    withName: denovo_cnv_annotation_type {
        module = ['apptainer/1.3.5']
        container = "/lustre09/project/6008022/flben/docker/duckdb_python_latest.sif"
    }

    withLabel: Rmarkdown {
        container = "/lustre09/project/6008022/flben/docker/cnv_caller_report_latest.sif"
        module = ['apptainer/1.3.5']
    
    }
}

apptainer {
    enabled = true
    autoMounts = true
    runOptions = '--bind /home,/project,/scratch,/lustre09'
}