process  {
    container = '/lustre09/project/6008022/LAB_WORKSPACE/SOFTWARE/Dockers/python_etl_packages_latest.sif'

    withLabel: penncnv_quantisnp {
        container = '/lustre09/project/6008022/LAB_WORKSPACE/SOFTWARE/Dockers/quantisnp_penncnv_v2.3.sif'
    }

    withLabel: Rmarkdown {
        container = '/lustre09/project/6008022/LAB_WORKSPACE/SOFTWARE/Dockers/cnv_caller_report_latest.sif'
    }
}